<section class="py-4">
  <div class="px-6 py-4 bg-gray-800 mb-4">
    <div class="d-flex justify-content-between">
      <div class="d-flex flex-column">
        <h6 class="text-white text-uppercase text-primary mb-0 pl-1">Visits</h6>
        <h1 class="text-white display-2 mt-n2 mb-0">
          <%= @stats.total_visit_count %>
        </h1>
      </div>
      <div class="d-flex flex-column">
        <h6 class="text-white text-uppercase text-primary mb-0 pl-1">Unique Visits</h6>
        <h1 class="text-white display-2 mt-n2 mb-0">
          <%= @stats.total_unique_visit_count %>
        </h1>
      </div>
      <div class="d-flex flex-column">
        <h6 class="text-white text-uppercase text-primary mb-0 pl-1">Links</h6>
        <h1 class="text-white display-2 mt-n2 mb-0">
          <%= current_user.links.count %>
        </h1>
      </div>
      <div class="d-flex flex-column">
        <h6 class="text-white text-uppercase text-primary mb-0 pl-1">Domains</h6>
        <h1 class="text-white display-2 mt-n2 mb-0">
          <%= current_user.custom_domains.count %>
        </h1>
      </div>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr class="text-uppercase text-muted">
          <th>Top links</th>
          <th>Visits</th>
          <th>Uniques</th>
        </tr>
      <thead>
      <tbody>
        <% @links.each do |link| %>
          <tr>
            <% link_stats = LinkStatsViewerAction.execute(link: link) %>
            <td><%= link.redirect_url %></td>
            <td><%= link_stats.visit_count %></td>
            <td><%= link_stats.unique_visit_count %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="d-flex flex-row">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr class="text-uppercase text-muted">
            <th>Device Type</th>
            <th>Uniques</th>
          </tr>
        <thead>
        <tbody>
          <% @stats.total_devices.each do |device, count| %>
            <tr>
              <td><%= device %></td>
              <td><%= count %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="table-responsive ml-4">
      <table class="table">
        <thead>
          <tr class="text-uppercase text-muted">
            <th>Browser</th>
            <th>Uniques</th>
          </tr>
        <thead>
        <tbody>
          <% @stats.total_browsers.each do |browser, count| %>
            <tr>
              <td><%= browser %></td>
              <td><%= count %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</section>