<div class="card">
  <div class="card-header">
    <h4 class="card-header-title">Account Settings</h4>
  </div>
  <div class="card-body">
    <%= form_with model: account, local: true do |f| %>
      <div class="row">
        <div class="col-12 col-md-4">
          <div class="form-group">
            <%= f.label :first_name %>
            <%= f.text_field :first_name, class: "form-control" %>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="form-group">
            <%= f.label :last_name %>
            <%= f.text_field :last_name, class: "form-control" %>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="form-group">
            <%= f.label :timezone, "Reporting Timezone" %>
            <%= f.time_zone_select :timezone, nil, { include_blank: true },
              { class: "custom-select" } %>
          </div>
        </div>
      </div>
      
      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>