<div class="table-responsive mb-0">
  <table class="table table-sm table-nowrap table-hover card-table">
    <thead>
      <tr>
        <th>User</th>
        <th>Links</th>
        <th>Custom Domains</th>
        <th>Plan</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.email %></td>
          <td><%= user.links.count %></td>
          <td><%= user.custom_domains.count %></td>
          <td>
            <% if user.free_plan? %>
              Free Trial
            <% elsif user.lifetime_deal_plan? %>
              Lifetime Deal
            <% else %>
              <%= user.subscription_plan.period.capitalize %>
            <% end %>
          </td>
          <td class="text-right">
            <%= link_to "Impersonate",
              impersonate_admin_user_path(user),
              method: :post,
              class: "btn btn-sm btn-primary" %>
            <%= link_to "Delete",
              admin_user_path(user),
              method: :delete,
              data: { confirm: "Are you sure?" },
              class: "btn btn-sm btn-danger" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
