<div class="table-responsive mb-0">
  <table class="table table-sm table-nowrap card-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Paddle ID</th>
        <th>Subscribers</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @plans.each do |plan| %>
        <tr>
          <td><%= plan.name %></td>
          <td><%= plan.price %></td>
          <td><%= plan.paddle_plan_id %></td>
          <td>
            <%= User.select do |u|
              u.subscription&.processor_plan.to_i == plan.paddle_plan_id
            end.count %>
          </td>
          <td class="text-right">
            <%= link_to "Edit", edit_admin_user_plan_path(plan),
              class: "btn btn-sm btn-white"%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>