<div class="card" data-controller="subscription"
  data-subscription-user="<%= @user.to_json %>"
  data-subscription-product-id="<%= @plan.paddle_plan_id %>"
  data-subscription-settings-path="<%= settings_path %>">
  <div class="card-body">
    <h6 class="text-uppercase text-center text-muted my-4"><%= plan_title %></h6>
    <!-- Price -->
    <div class="row no-gutters align-items-center justify-content-center">
      <div class="col-auto">
        <div class="h2 mb-0">$</div>
      </div>
      <div class="col-auto">
        <div class="display-2 mb-0"><%= plan_price %></div>
      </div>
    </div>

    <!-- Period -->
    <h6 class="text-uppercase text-center text-muted">
      / <%= plan_period %>
    </h6>

    <!-- Savings -->

    <div class="text-center mb-5">
      <span class="badge badge-soft-primary"><%= plan_savings %></span>
    </div>

    <!-- Button -->
    <button data-action="subscription#subscribe"
      class="btn btn-block <%= plan_class %>">
      Upgrade to <%= plan_title.titleize %>
    </button>
  </div>
</div>