<div data-controller="links">
  <div id="links-table" class="card">
    <div class="table-responsive mb-0">
      <table class="table table-sm table-nowrap card-table">
        <thead>
          <tr>
            <th>Original URL</th>
            <th>Short Link</th>
            <th></th>
          </tr>
        </thead>
        <tbody class="list">
          <% @links.each do |link| %>
            <tr>
              <td><%= link.destination_url.truncate(50) %></td>
              <td>
                <%= link_to link.redirect_url, link.redirect_url %>
              </td>
              <td>
                <div class="d-flex align-items-center justify-content-end">
                  <%= render CopyButtonComponent.new(link.redirect_url) %>
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <svg height="20" width="20" class="text-dark" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
                    </svg>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right">
                    <%= link_to "View", link, class: "dropdown-item" %>
                    <%= link_to "Edit", edit_link_path(link), class: "dropdown-item" %>
                    <%= link_to "Delete", link_path(link),
                      method: :delete,
                      class: "dropdown-item",
                      method: :delete,
                      data: { confirm: "Deleting this link WILL NOT reset your clicks per month quota, are you sure?" } %>
                  </div>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
