<div class="row">
  <div class="col-12 col-md-6 text-muted small">
    &#169; Btfy <%= Time.now.year %>. All rights reserved |
    <%= link_to "Terms", terms_path %> |
    <%= link_to "Privacy", privacy_path %> |
    <%= link_to "Report abuse", "mailto:support@btfy.io" %>
  </div>
  <div class="col-12 col-md-6 text-right text-muted small">
    Powered by <%= link_to "Vahmine Inc", "" %>.
  </div>
</div>