<div class="col-12 col-md-3">
  <div class="card shadow-light-lg mb-6 mb-md-0">
    <div class="card-body text-center">
      <!-- Text -->
      <% if @plan.name == "Yearly" %>
        <span class="badge badge-pill badge-primary">
          Save 20%
        </span>
      <% else %>
        <span class="badge badge-pill badge-white text-white">&nbsp;</span>
      <% end %>
      <h6 class="text-uppercase text-center text-primary mt-2 mb-4">
        <%= @plan.name %> Plan
      </h6>

      <!-- Price -->
      <div class="row no-gutters align-items-center justify-content-center">
        <div class="col-auto">
          <div class="h2 mb-0">$</div>
        </div>
        <div class="col-auto">
          <div class="display-2 mb-0"><%= @plan.price %></div>
        </div>
      </div>
      <div class="h6 text-uppercase text-center text-primary mb-5">
        <%= @plan.interval %>
      </div>
      <!-- Features -->
      <div class="mb-3">
        <ul class="list-group list-group-flush">
          <li class="list-group-item d-flex align-items-center justify-content-between px-0">
            <small>Links</small>
            <small><%= @plan.links_limit %></small>
          </li>
          <li class="list-group-item d-flex align-items-center justify-content-between px-0">
            <small class="d-flex">
              Custom Slug
              <%= render SlugInfoTooltipComponent.new %>
            </small>
            <small><%= @plan.custom_slug_limit %></small>
          </li>
          <li class="list-group-item d-flex align-items-center justify-content-between px-0">
            <small>Custom Domains</small>
            <small><%= @plan.custom_domains_limit %></small>
          </li>
          <li class="list-group-item d-flex align-items-center justify-content-between px-0">
            <small>Dashboard</small>
            <small><%= @plan.dashboard_access %></small>
          </li>
          <li class="list-group-item d-flex align-items-center justify-content-between px-0">
            <small>Link Analytics</small>
            <small><%= @plan.analytics_limit %></small>
          </li>
        </ul>
      </div>
      <!-- CTA -->
      <% if @plan.name == "Yearly" %>
        <%= link_to "Get Started", @plan.register_link, class: "btn btn-primary btn-block" %>
      <% elsif @plan.name == "Forever" %>
        <%= link_to "Get Started", @plan.register_link, class: "btn btn-warning btn-block" %>
      <% else %>
        <%= link_to "Get Started", @plan.register_link, class: "btn btn-secondary btn-block" %>
      <% end %>
    </div>
  </div>
</div>