<div class="card" data-controller="subscription"
  data-subscription-user="<%= @user.to_json %>">
  <div class="card-body">
    <h6 class="text-uppercase text-center text-muted my-2">
      <%= @plan.name %>
    </h6>

    <div class="row no-gutters justify-content-center align-items-center">
      <div class="col-auto">
        <div class="h2 mb-0">$</div>
      </div>
      <div class="col-auto">
        <div class="display-3 mb-0"><%= @plan.monthly_value.round(2) %></div>
      </div>
    </div>
    <h6 class="text-uppercase text-center text-muted my-2">per month</h6>

    <div class="row justify-content-center">
      <span class="badge badge-light mt-4">Save <%= @plan.savings_percentage %>%</span>
      <span class="text-muted mt-3 text-center w-100" style="font-size: 0.8rem;">
        <% if @plan.monthly_total != @plan.amount %>
          <del class="text-danger">$<%= @plan.monthly_total %></del>
        <% end %>
        $<%= @plan.amount %> billed <%= @plan.interval_text %>
      </span>
    </div>
    
    <div class="d-flex justify-content-center mt-4">
      <button class="btn btn-primary"
        data-product="<%= @plan.paddle_plan_id %>"
        data-action="subscription#subscribe">
        Choose Plan
      </button>
    </div>
  </div>
</div>