<div class="card">
  <div class="card-header">
    <h4 class="card-header-title">Social Links</h4>
  </div>
  <div class="card-body">
    <%= form_with(model: @public_profile,
      url: public_profile_path(@public_profile), method: :put, local: true) do |f| %>
      <div class="form-group small">
        <%= f.label :facebook %>
        <%= f.text_field :facebook, class: "form-control", placeholder: "https://www.facebook.com/yourpage" %>
      </div>

      <div class="form-group small">
        <%= f.label :instagram %>
        <%= f.text_field :instagram, class: "form-control", placeholder: "https://www.instagram.com/yourusername" %>
      </div>

      <div class="form-group small">
        <%= f.label :twitter %>
        <%= f.text_field :twitter, class: "form-control", placeholder: "https://twitter.com/yourhandle" %>
      </div>

      <div class="form-group small">
        <%= f.label :youtube %>
        <%= f.text_field :youtube, class: "form-control", placeholder: "https://www.youtube.com/channel/yourchannelname" %>
      </div>

      <div class="form-group small">
        <%= f.label :tiktok %>
        <%= f.text_field :tiktok, class: "form-control", placeholder: "https://www.tiktok.com/@yourusername" %>
      </div>

      <%= f.submit "Save", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>