<div class="card">
  <div class="card-body">
    <div class="row align-items-center">
      <div class="col">
        <h6 class="text-uppercase text-muted mb-2">
          <%= @title %>
        </h6>

        <span class="h2 mb-0">
          <%= @today.count %>
        </span>

        <span class="badge <%= badge_class %> mt-n1">
          <%= increase_percentage %>%
        </span>
      </div>
      <div class="col-auto">
        <%= icon %>
      </div>
    </div>
  </div>
</div>