<div class="card border">
  <div class="card-body bg-light">
    <div class="row align-items-center">
      <div class="col">
        <h6 class="text-uppercase text-muted mb-2">Current plan</h6>
        <span class="h2 mb-0">
          <%= @user.subscribed? ? @user.user_plan.price_with_per_text : "Free" %>
        </span>
      </div>
      <% if @show_button %>
        <div class="col-auto">
          <% if @user.subscribed? %>
            <%= link_to "Cancel", subscriptions_path, method: :delete, class: "btn btn-sm btn-danger"%>
          <% else %>
            <%= link_to "Upgrade", subscriptions_path, class: "btn btn-sm btn-primary" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="card-footer px-0">
    <div class="list-group list-group-flush my-n3 small">
      <div class="list-group-item px-4 d-flex">
        <span>Links</span>
        <span class="ml-auto"><%= @user&.user_plan&.links_limit || Ability::MAX_LINKS_FOR_FREE_USER %></span>
      </div>
      <div class="list-group-item px-4 d-flex">
        <span class="mr-2">Custom Slug</span>
        <%= render SlugInfoTooltipComponent.new %>
        <span class="ml-auto"><%= @user&.user_plan&.custom_slug_limit || 0 %></span>
      </div>
      <div class="list-group-item px-4 d-flex">
        <span>Custom Domains</span>
        <span class="ml-auto"><%= @user&.user_plan&.custom_domains_limit || 0 %></span>
      </div>
      <div class="list-group-item px-4 d-flex">
        <span>Link Analytics</span>
        <span class="ml-auto"><%= @user&.user_plan&.analytics_limit || "Basic" %></span>
      </div>
    </div>
  </div>
</div>