<div class="container">
  <div class="row justify-content-center py-5">
    <div class="col-12">
      <%= render LandingPageLogoComponent.new %>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
      <!-- Introduction -->
      <h1 class="display-2 text-center font-weight-bolder">
        Create short links with <span class="text-primary">privacy</span> in mind
      </h1>
      <p class="text-secondary text-center lead font-weight-normal py-3">
        Shorten, create and share links without storing cookie or any personal
        data of your users. Start protecting your visitors privacy today.
      </p>

      <div class="d-flex flex-column py-3">
        <span class="text-center">
          <%= link_to "Get started for free", "/register", class: "btn btn-primary" %>
          <%= link_to "Log in", "/register", class: "btn btn-white" %>
        </span>
        <p class="text-muted mt-2 text-center small">
          Free 30-day trial. No credit card required.
        </p>
      </div>
    </div>
  </div>

  <div class="row py-5 mb-5 justify-content-center">
    <div class="col-12 col-md-10">
      <img class="img-fluid shadow rounded" alt="btfy dashboard"
      src="https://btfy-app.s3-ap-southeast-1.amazonaws.com/landing-page/dashboard-new-landing-page.png"/>
    </div>
  </div>
</div>

<%= render LandingPageFeaturesComponent.new %>

<div class="bg-white">
  <div class="container py-5">
    <div class="py-5">
      <h2 class="display-2 mb-1">Pricing</h2>
      <p class="lead font-weight-normal">
          One plan, different deals, pick what's best for you
      </p>
    </div>
    <div class="row">
      <div class="col-12 col-md-4">
        <%= render MarketingPricingPlanComponent.new(
          title: "monthly", price: 5, period: "month")
        %>
      </div>
      <div class="col-12 col-md-4">
        <%= render MarketingPricingPlanComponent.new(
          title: "yearly", price: 50, period: "year")
        %>
      </div>
      <div class="col-12 col-md-4">
        <%= render MarketingPricingPlanComponent.new(
          title: "lifetime", price: 150, period: "lifetime")
        %>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <%= render PlanFeaturesComponent.new %>
      </div>
    </div>
  </div>
</div>

<div class="bg-light">
  <div class="container py-5">
    <%= render MarketingFooterComponent.new %>
  </div>
</div>
