<div class="card">
  <div class="card-body">
    <%= form_with(model: custom_domain, local: true) do |form| %>

      <section class="alert alert-light">
        <h6 class="text-uppercase">Instructions</h6>
        <ol class="pl-4">
          <li>Go to your DNS settings for your domain</li>
          <li>Add a CNAME entry that points your domain to
            <strong><%= ENV.fetch("DEFAULT_URL_HOST") %></strong>
          </li>
          <li>Add your domain below</li>
        </ol>
      </section>

      <hr>

      <div class="form-group">
        <%= render(FormNotificationComponent.new(model: custom_domain)) %>
        <%= form.label :name, "Domain" %>
        <small class="form-text text-muted">
          Enter the your domain without http or https
        </small>
        <%= form.text_field :name, class: "form-control" %>
      </div>

      <div class="d-flex justify-content-between mt-3">
        <%= link_to "Cancel", links_path, class: "btn btn-white" %>
        <%= form.submit "Add domain", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>