
<div class="row">
  <div class="col-12 col-md-6">
    <div class="card">
      <div class="card-body">
        <%= form_with(model: custom_domain, local: true) do |form| %>
          <%= render(FormNotificationComponent.new(model: custom_domain)) %>
        
          <div class="form-group">
            <%= form.label :name, "Domain" %>
            <small class="form-text text-muted">
              Enter the your domain without http or https
            </small>
            <%= form.text_field :name, class: "form-control" %>
          </div>
          
          <div class="form-group">
            <%= form.label :redirect_url %>
            <small class="form-text text-muted">
              This is where we redirect your users when they visit your connected domain
            </small>
            <%= form.text_field :redirect_url, class: "form-control" %>
          </div>

          <div class="d-flex justify-content-between mt-3">
            <%= link_to "Cancel", links_path, class: "btn btn-white" %>
            <%= form.submit class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <!-- Domain instructions -->
  <div class="col-12 col-md-6">
    <div class="card border">
      <div class="card-header bg-light">
        <h4 class="card-header-title">Connecting your domain</h4>
      </div>
      <div class="card-body">
        <p class="small text-muted mb-3">
          Choose a name for your subdomain (link, go, click). It will look
          something like:<br>
          link.mydomainname.com
        </p>

        <div class="alert alert-light mb-0">
          <small>
            Your domain will not be available immediately, it can take up to
            <strong>24 hours</strong> for the DNS to propogate. Go back to this
            page and add your domain again.
          </small>
        </div>

        <hr>
        
        <p class="small text-muted">
          Apply the following DNS configuration to turn your any domain into
          your own link shortener. All you have to do is "point" your
          <strong>CNAME Records</strong> to btfy.
        </p>

        <table class="table table-sm table-bordered mb-0">
          <thead>
            <tr>
              <th>Record type</th>
              <th>Hostname (or name)</th>
              <th>Points to (or address)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>CNAME</td>
              <td>link</td>
              <td><%= ENV.fetch("DEFAULT_URL_HOST") %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>