
<div class="row">
  <div class="col-12 col-md-6">
    <div class="card">
      <div class="card-body">
        <%= form_with(model: custom_domain, local: true) do |form| %>
          <%= render(FormNotificationComponent.new(model: custom_domain)) %>
        
          <div class="form-group">
            <%= form.label :name, "Domain" %>
            <small class="form-text text-muted">
              Enter the your domain without http or https
            </small>
            <% if custom_domain.persisted? %>
              <%= form.text_field :name, class: "form-control bg-light", disabled: true %>
            <% else %>
              <%= form.text_field :name, class: "form-control" %>
            <% end %>
          </div>
          
          <div class="form-group">
            <%= form.label :redirect_url, "Root Redirect URL" %>
            <small class="form-text text-muted">
              When they visit the base url of your short link, they will be redirect to this link
            </small>
            <%= form.text_field :redirect_url, class: "form-control", redirect: true %>
          </div>

          <div class="form-group">
            <%= form.label :not_found_url, "404 Redirect URL" %>
            <small class="form-text text-muted">
              When your link is not available, they will be redirected to this link
            </small>
            <%= form.text_field :not_found_url, class: "form-control", required: true%>
          </div>

          <div class="d-flex justify-content-between mt-3">
            <%= link_to "Cancel", links_path, class: "btn btn-white" %>
            <%= form.submit class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
