<div class="row justify-content-start">
  <div class="col-12">
    <%= render(PageHeaderComponent.new(
      pretitle: "Your action is required", title: "Configure DNS"))
    %>

    <div class="row">
      <div class="col-12 col-md-8">
          <div class="alert alert-light small mb-0">
            Your domain will not be available immediately, it can take up to
            <strong>24 hours</strong> for the DNS to propogate. We'll email you
            when the setup is complete.
          </div>

          <hr class="my-5"/>
          
          <ol>
            <li>Go to your DNS provider's website</li>
            <li>Create a <strong>CNAME</strong> record for <%= @custom_domain.name %></li>
            <li>Point the record to <strong><%= @custom_domain.dns_target %></strong></li>
            <li>If you're using Cloudflare, make sure to disable the orange cloud proxy</li>
          </ol>

          <div class="card">
            <table class="table table-sm card-table table-bordered">
              <thead>
                <tr>
                  <th>Record Type</th>
                  <th>Points to(or address)
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>CNAME</td>
                  <td><%= @custom_domain.dns_target %></td>
                </tr>
              </tbody>
            </table>
          </div>

          <hr class="my-5"/>

          <%= link_to "View my domains", custom_domains_path, class: "btn btn-primary btn-lg"%>

      </div>
    </div>
  </div>
</div>

