<%= form_with(model: link, local: true) do |form| %>
  <% if link.errors.any? %>
    <div class="alert alert-danger">
      <%= link.errors.full_messages.to_sentence %>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :destination_url, class: "form-label" %>
    <%= form.text_area :destination_url, class: "form-control" %>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="mb-3">
        <%= form.label :name, class: "form-label" %>
        <%= form.text_field :name, class: "form-control" %>
      </div>

    </div>
    <div class="col-md-6">
      <div class="mb-3">
        <%= form.label :slug, class: "form-label" %>
        <%= form.text_field :slug, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="mb-3">
    <%= form.label :custom_domain, class: "form-label" %>
    <%= form.select :custom_domain_id,
      CustomDomain.all.map { |cd| [cd.name, cd.id] },
      { include_blank: true },
      { class: "form-select" }
    %>
  </div>

  <%= form.submit "Create link", class: "btn btn-primary" %>
<% end %>
