<div class="card">
  <div class="card-body">
    <%= form_with(model: link, local: true) do |form| %>
      <%= render(FormNotificationComponent.new(model: link)) %> 

      <div class="form-group">
        <%= form.label :destination_url, "Paste long URL" %>
        <small class="form-text text-muted">
          Don't forget to include http or https
        </small>
        <%= form.text_area :destination_url, class: "form-control" %>
      </div>

      <div class="row">
        <div class="col-12 col-lg-4">
          <div class="form-group">
            <%= form.label :custom_domain, "Domain" %>
            <small class="form-text text-muted">
              Choose from your domains
            </small>
            <%= form.select :custom_domain_id,
              options_for_select(custom_domain_dropdown, selected: link&.custom_domain&.id),
              {},
              { class: "custom-select" }
            %>
          </div>
        </div>

        <div class="col-12 col-lg-4">
          <div class="form-group">
            <%= form.label :name %>
            <small class="text-muted">(Optional)</small>
            <small class="form-text text-muted">
              Give your link a name
            </small>
            <%= form.text_field :name, class: "form-control" %>
          </div>
        </div>

        <div class="col-12 col-lg-4">
          <div class="form-group">
            <%= form.label :slug%>
            <small class="text-muted">(Optional)</small>
            <small class="form-text text-muted">
              Insert your own words after the /
            </small>
            <%= form.text_field :slug, class: "form-control" %>
          </div>
        </div>
      </div>
      
      <div class="d-flex justify-content-between mt-3">
        <%= link_to "Cancel", links_path, class: "btn btn-white" %>
        <div class="d-flex align-items-center">
          <div class="custom-control custom-switch mr-3">
            <%# <input type="checkbox" class="custom-control-input" id="customSwitch1"> %>
            <%# <label class="custom-control-label" for="customSwitch1">Track this click</label> %>

            <%= form.check_box :no_tracking, class: "custom-control-input" %>
            <%= form.label :no_tracking, class: "custom-control-label"%>

          </div>

          <%= form.submit class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
