<%= render NotificationComponent.new() %>
<%= render(PageHeaderWithButtonComponent.new(
  pretitle: "overview",
  title: "Links",
  btn_link: new_link_path,
  btn_text: "create link"))
%>
<div class="row">
  <div class="col-2">
    <%= render FilterTagListComponent.new(@links) %>
  </div>
  <div class="col-10">
    <%= search_form_for @q, class: "mb-2 d-flex" do |f| %>
      <%= f.search_field :destination_url_cont,
        class: "form-control form-control-prepended search",
        placeholder: "Search URL"
      %>
      <%= f.submit class: "btn btn-primary btn ml-3" %>
    <% end %>
    <hr />
    <%= render LinksTableComponent.new(@links, @q) %>
  </div>
</div>
