<h1>Links</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Destination url</th>
      <th>Redirect url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @links.each do |link| %>
      <tr>
        <td><%= link.name %></td>
        <td><%= truncate(link.destination_url, length: 50) %></td>
        <td><%= link_to link.redirect_url, link.redirect_url %></td>
        <td><%= link_to 'Show', link %></td>
        <td><%= link_to 'Edit', edit_link_path(link) %></td>
        <td><%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Link', new_link_path %>
