<div>
  <%= render(PageHeaderComponent.new(
    pretitle: @link.name,
    title: @link.redirect_url))
    %>
  </div>

  <div class="card">
    <div class="card-header">
      <h4 class="card-header-title text-right text-muted">
        <%= @stats.range.first.stamp("Jan 1, 2020") %> to
        <%= @stats.range.last.stamp("Jan 1, 2020") %>
      </h4>
    </div>
    <div class="card-body">
      <div class="chart">
        <%= column_chart stacked_chart_data,
        stacked: true,
        dataset: { borderWidth: 0 },
        library: {
          legend: { display: false },
          scales: {
            xAxes: [
              { gridLines: { display: false} },
            ],
            yAxes: [
              { gridLines: { display: false} },
            ]
          }
        }
        %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="card h-100">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <small class="text-muted">Device Type</small>
            </div>
            <div class="col text-right">
              <small class="text-muted">Uniques</small>
            </div>
          </div>
          <% @stats.devices.each do |device, count| %>
          <div class="row">
            <div class="col"><%= device %></div>
            <div class="col text-right"><%= count %></div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-4 mt-3 mt-md-0">
      <div class="card h-100">
        <div class="card-body">
          <div class="row text-muted">
            <div class="col">
              <small class="text-muted">Browser</small>
            </div>
            <div class="col text-right">
              <small class="text-muted">Uniques</small>
            </div>
          </div>
          <% @stats.browsers.each do |browser, count| %>
          <div class="row">
            <div class="col"><%= browser %></div>
            <div class="col text-right"><%= count %></div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-4 mt-3 mt-md-0">
      <div class="card h-100">
        <div class="card-body">
          <div class="row text-muted">
            <div class="col"><small class="text-muted">Country</small></div>
            <div class="col text-right"><small class="text-muted">Uniques</small></div>
          </div>
          <% @stats.countries.each do |country, count| %>
          <div class="row">
            <div class="col"><%= country %></div>
            <div class="col text-right"><%= count %></div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>