<div class="header">
  <div class="header-body">
    <div class="row align-items-center">
      <div class="col-auto">
        <%= render QrCodeComponent.new(@link.redirect_url, 3) %>
      </div>
      <div class="col">
        <h6 class="header-pretitle"><%= @link.destination_url.truncate(100) %></h6>
        <div class="d-flex align-items-center">
          <h1 class="header-title"><%= @link.redirect_url %></h1>
          <%= render CopyButtonComponent.new(@link.redirect_url) %>
        </div>
      </div>
      <div class="col-auto mt-3 mt-md-0">
        <%= render PeriodDropdownComponent.new(path: link_path,
          default_text: "Last 7 days") %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <%= render LinkViewGraphComponent.new(
      visits: @stats.total_visits,
      uniques: @stats.total_unique_visits
    ) %>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <%= render ReferrerTableComponent.new(
      visits: @stats.referrers,
      uniques: @stats.unique_referrers,
      label: "Referrers") %>
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-4">
    <%= render TotalStatTableComponent.new(stats: @stats.device_types, label: "Device Type") %>
  </div>
  <div class="col-12 col-md-4">
    <%= render TotalStatTableComponent.new(stats: @stats.browsers, label: "Browser") %>
  </div>
  <div class="col-12 col-md-4">
    <%= render TotalStatTableComponent.new(stats: @stats.countries, label: "Country") %>
  </div>
</div>
