<div class="container">
  <%= render(PageHeaderComponent.new(
    pretitle: @link.redirect_url,
    title: @link.name))
  %>
</div>



<div class="container">
  <div class="card">
    <div class="card-header">
      <h4 class="card-header-title text-right text-muted">
        <%= @stats.range.first.stamp("Jan 1, 2020") %> to
        <%= @stats.range.last.stamp("Jan 1, 2020") %>
      </h4>
    </div>
    <div class="card-body">
      <div class="chart">
        <%= column_chart stacked_chart_data,
          stacked: true,
          dataset: { borderWidth: 0 },
          library: {
            legend: { display: false },
            scales: {
              xAxes: [
                { gridLines: { display: false} },
              ],
              yAxes: [
                { gridLines: { display: false} },
              ]
            }
          }
        %>
      </div>
    </div>
  </div>

  

  

  <div class="row">
    <div class="col-md-4">
      <div class="card h-100">
        <div class="card-body">
          <div class="row text-muted">
            <div class="col">Device Type</div>
            <div class="col text-right">Uniques</div>
          </div>
          <% @stats.devices.each do |device, count| %>
            <div class="row">
              <div class="col"><%= device %></div>
              <div class="col text-right"><%= count %></div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-4 mt-3 mt-md-0">
      <div class="card h-100">
        <div class="card-body">
          <div class="row text-muted">
            <div class="col">Browser</div>
            <div class="col text-right">Uniques</div>
          </div>
          <% @stats.browsers.each do |browser, count| %>
            <div class="row">
              <div class="col"><%= browser %></div>
              <div class="col text-right"><%= count %></div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-4 mt-3 mt-md-0">
      <div class="card h-100">
        <div class="card-body">
          <div class="row text-muted">
            <div class="col">Country</div>
            <div class="col text-right">Uniques</div>
          </div>
          <% @stats.countries.each do |country, count| %>
            <div class="row">
              <div class="col"><%= country %></div>
              <div class="col text-right"><%= count %></div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
