<div class="container mx-auto py-8">
	<div class="bg-gray-900 p-4 flex justify-between">
		<h3 class="text-lg leading-6 font-medium text-white">
		  <%= link_to @link.redirect_url, @link.redirect_url %>
		</h3>
		<%= link_to "Back", links_path, class: "text-white" %>
	</div>

	<div class="my-8">
		<div class="bg-white p-8 shadow border-b border-gray-200">
			<%= column_chart stacked_chart_data,
				stacked: true,
				dataset: { borderWidth: 0 }
			%>
		</div>
	</div>


	<div class="flex justify-between">
		<div class="flex flex-col w-full">
			<div class="align-middle inline-block min-w-full shadow overflow-hidden border-b border-gray-200">
				<table class="min-w-full divide-y divide-gray-200 ">
					<thead>
						<tr>
							<th class="px-6 py-3 bg-white text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Device Type</th>
							<th class="px-6 py-3 bg-white text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Uniques</th>
						</tr>
					</thead>
					<tbody class="bg-white divide-y divide-gray-200">
						<% @stats.devices.each do |device, count| %>
							<tr>
								<td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900"><%= device %></td>
								<td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900"><%= count %></td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>

		<div class="flex flex-col w-full mx-8">
			<div class="align-middle inline-block min-w-full shadow overflow-hidden border-b border-gray-200">
				<table class="min-w-full divide-y divide-gray-200 ">
					<thead>
						<tr>
							<th class="px-6 py-3 bg-white text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Browsers</th>
							<th class="px-6 py-3 bg-white text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Uniques</th>
						</tr>
					</thead>
					<tbody class="bg-white divide-y divide-gray-200">
						<% @stats.browsers.each do |browser, count| %>
							<tr>
								<td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900"><%= browser %></td>
								<td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900"><%= count %></td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>

		<div class="flex flex-col w-full">
			<div class="align-middle inline-block min-w-full shadow overflow-hidden border-b border-gray-200">
				<table class="min-w-full divide-y divide-gray-200 ">
					<thead>
						<tr>
							<th class="px-6 py-3 bg-white text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Country</th>
							<th class="px-6 py-3 bg-white text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Uniques</th>
						</tr>
					</thead>
					<tbody class="bg-white divide-y divide-gray-200">
						<% @stats.countries.each do |country, count| %>
							<tr>
								<td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900"><%= country %></td>
								<td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900"><%= count %></td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>