<div class="header">
  <div class="header-body">
    <div class="row align-items-center">
      <div class="col">
        <h6 class="header-pretitle"><%= @link.destination_url.truncate(100) %></h6>
        <div class="d-flex align-items-center">
          <h1 class="header-title"><%= @link.redirect_url %></h1>
          <%= render CopyLinkButtonComponent.new(@link) %>
        </div>
      </div>
      <div class="col-auto mt-3 mt-md-0">
        <%= render PeriodDropdownComponent.new(path: link_path,
          default_text: "Last 7 days") %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <%= render LinkViewGraphComponent.new(@stats.visits) %>
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-3">
    <%= render TotalStatTableComponent.new(stats: @stats.referrers, label: "Referrers") %>
  </div>
  <div class="col-12 col-md-3">
    <%= render TotalStatTableComponent.new(stats: @stats.devices, label: "Device Type") %>
  </div>
  <div class="col-12 col-md-3">
    <%= render TotalStatTableComponent.new(stats: @stats.browsers, label: "Browser") %>
  </div>
  <div class="col-12 col-md-3">
    <%= render TotalStatTableComponent.new(stats: @stats.countries, label: "Country") %>
  </div>
</div>
<% if current_user != true_user %>
  <div class="row">
    <div class="col-12 col-md-3">
      <%= render TotalStatTableComponent.new(stats: @visit_stats.total_visits,
        label: "Total Visits") %>
    </div>
    <div class="col-12 col-md-3">
      <%= render TotalStatTableComponent.new(stats: @visit_stats.total_unique_visits,
        label: "Unique Visits") %>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-3">
      <%= render TotalStatTableComponent.new(stats: @visit_stats.referrers,
        label: "Referrers") %>
    </div>
    <div class="col-12 col-md-3">
      <%= render TotalStatTableComponent.new(stats: @visit_stats.device_types,
        label: "Device Type") %>
    </div>
    <div class="col-12 col-md-3">
      <%= render TotalStatTableComponent.new(stats: @visit_stats.browsers,
        label: "Browser") %>
    </div>
    <div class="col-12 col-md-3">
      <%= render TotalStatTableComponent.new(stats: @visit_stats.countries,
        label: "Country") %>
    </div>
  </div>
<% end %>
