<p id="notice"><%= notice %></p>

<p>
  <strong>Destination url:</strong>
  <%= @link.destination_url %>
</p>

<p>
  <strong>Name:</strong>
  <%= @link.name %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @link.slug %>
</p>

<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
