<div class="header">
  <div class="header-body">
    <div class="row align-items-center">
      <div class="col">
        <h6 class="header-pretitle"><%= @link.name %></h6>
        <h1 class="header-title"><%= @link.redirect_url %></h1>
      </div>
      <div class="col-auto">
        <%= render PeriodDropdownComponent.new(path: link_path,
          default_text: "Last 7 days") %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <%= render LinkViewGraphComponent.new(visits: @stats.visits) %>
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-3">
    <%= render TotalStatTableComponent.new(stats: @stats.referrers, label: "Referrers") %>
  </div>
  <div class="col-12 col-md-3">
    <%= render TotalStatTableComponent.new(stats: @stats.devices, label: "Device Type") %>
  </div>
  <div class="col-12 col-md-3">
    <%= render TotalStatTableComponent.new(stats: @stats.browsers, label: "Browser") %>
  </div>
  <div class="col-12 col-md-3">
    <%= render TotalStatTableComponent.new(stats: @stats.countries, label: "Country") %>
  </div>
</div>
</div>
