<%= render SettingsHeaderComponent.new %>

<div class="row">
  <div class="col-12 col-md-8">
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h4 class="card-header-title">API Keys</h4>
          </div>
          <div class="col-auto">
            <%= link_to "Create", "", class: "btn btn-sm btn-primary" %>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-sm table-nowrap card-table">
          <thead>
            <tr>
              <th>Key</th>
              <th>Client Name</th>
              <th>Status</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @api_keys.each do |api_key| %>
              <tr>
                <td><%= api_key.key %></td>
                <td><%= api_key.client_name %></td>
                <td>
                  <% if api_key.deactivated_at.nil? %>
                    <span class="badge badge-light">Active</span>
                  <% else %>
                    <span class="badge badge-soft-danger">Deactivated</span>
                  <% end %>
                </td>
                <td class="text-right">
                  <% if api_key.deactivated_at.nil? %>
                    <%= link_to "Deactivate", "", class: "btn btn-sm btn-outline-danger" %>
                  <% else %>
                    <%= link_to "Reactivate", "", class: "btn btn-sm btn-outline-green" %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>