  <% if alert %>
    <%= alert %>
  <% end %>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div>
      <%= f.label :email %>
      <%= f.email_field :email, class: "form-input mt-1 block w-full" %>
    </div>

    <div class="mt-4">
      <%= f.label :password %>
      <%= f.password_field :password, class: "form-input mt-1 block w-full" %>
    </div>

    <div class="mt-4">
      <%= f.submit %>
    </div>
  <% end %>