<%= render NotificationComponent.new() %>
<%= render(PageHeaderWithButtonComponent.new(
  pretitle: "overview",
  title: "dashboard",
  btn_link: new_link_path,
  btn_text: "create link"))
%>
<div class="row">
  <div class="col-12 col-md-6">
    <%= render(StatsCardComponent.new(
      title: "Visits for this month of #{Date.today.strftime("%B")}",
      count: @stats.total_visit_count)
    )%>
  </div>
  <div class="col-12 col-md-6">
    <%= render(StatsCardComponent.new(
      title: "Links created for this month of #{Date.today.strftime("%B")}",
      count: current_user.links.where(created_at: Time.now.beginning_of_month..Time.now.end_of_month).count)
    )%>
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-6">
    <div class="card">
      <div class="table-responsive mb-0">
        <table class="table table-sm table-nowrap card-table">
          <thead>
            <tr>
              <th>Links</th>
              <th class="text-right">Views</th>
            </tr>
          </thead>
          <tbody>
            <% @links.each do |link| %>
              <tr>
                <td><%= link_to link.name.truncate(50), link %></td>
                <td class="text-right"><%= LinkStatsViewerAction.execute(link: link).visit_count %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <%= render TotalStatTableComponent.new(
      stats: @stats.total_referrers, label: "Referrers") %>
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-4">
    <%= render TotalStatTableComponent.new(
      stats: @stats.total_devices, label: "Device Type") %>
  </div>
  <div class="col-12 col-md-4">
    <%= render TotalStatTableComponent.new(
      stats: @stats.total_browsers, label: "Browser") %>
  </div>
  <div class="col-12 col-md-4">
    <%= render TotalStatTableComponent.new(
      stats: @stats.total_countries, label: "Country") %>
  </div>
</div>
