<!DOCTYPE html>
<html>
  <head>
    <title>Btfy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav style="display:flex; padding-bottom: 1rem;">
      <%= link_to "Links", links_path %>
      <%= link_to "Domains", custom_domains_path, { style: "margin-left: 1rem;" } %>
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <%= yield %>
  </body>
</html>
