<!DOCTYPE html>
<html>
  <head>
    <title>Btfy - Create short links with privacy in mind</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= canonical_tag -%>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= render SocialMediaMetaTagComponent.new %>
    <%= render PlausibleAnalyticsComponent.new %>
    <%= render FathomAnalyticsComponent.new %>
    <%= render SplitbeeAnalyticsComponent.new %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="d-flex align-items-center bg-auth border-top border-top-2 border-primary">
    <%= yield %>
  </body>
</html>
