<!DOCTYPE html>
<html>
  <head>
    <title>Btfy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% if current_page?(api_keys_path) %>
      <meta name="turbolinks-visit-control" content="reload">
    <% end %>
    <% if current_page?(billing_path) %>
      <meta name="turbolinks-visit-control" content="reload">
      <script src="https://cdn.paddle.com/paddle/paddle.js"></script>
    <% end %>
    <%= render PlausibleAnalyticsComponent.new %>
    <%= render CrispChatComponent.new %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="pb-4">
    <%= render ImpersonateBannerComponent.new(
      current_user: current_user,
      true_user: true_user
    ) %>
    <%= render(NavbarComponent.new(current_user: current_user)) %>
    <div class="container p-md-0">
      <%= yield %>
    </div>
  </body>
</html>
