<!DOCTYPE html>
<html>
  <head>
    <title>Btfy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  </head>

  <body class="bg-gray-200">
    <%= render partial: "layouts/dashboard_nav", current_user: current_user %>
    <main class="container py-8">
      <%= render partial: "layouts/flash", flash: flash %>
      <%= yield %>
    </main>
  </body>
</html>
