<!DOCTYPE html>
<html>
  <head>
    <% if current_page?("/terms") %>
      <title>Btfy - Terms and Conditions</title>
    <% elsif current_page?("/privacy") %>
      <title>Btfy - Privacy Policy</title>
    <% else %>
      <title>Btfy - Create short links with privacy in mind</title>
    <% end %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= render SocialMediaMetaTagComponent.new %>
    <%= render PlausibleAnalyticsComponent.new %>
    <%= stylesheet_pack_tag 'marketing', media: 'all' %>
    <%= javascript_pack_tag 'marketing' %>
  </head>
  <body class="bg-white">
    <% if flash[:notice] %>
      <div class="bg-light text-center small py-2">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>