<!DOCTYPE html>
<html>
  <head>
    <title>Btfy | Bio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= render PlausibleAnalyticsComponent.new %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column">
    <div class="flex-fill">
      <%= yield %>
    </div>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-5 col-xl-4 my-5 text-center">
          <%= link_to root_path do %>
            <%= render NavbarLogoComponent.new() %>
          <% end %>
        </div>
      </div>
    </div>
  </body>
</html>
